<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust | Login</title>
    
    <!-- Static files   -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
    <div class="login-container">
        <h3> Wanderlust Login</h3>

        <form id="loginForm">
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="password" required>
            <button type="submit">Login</button>
        </form>

        <p id="message"></p>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
    
</body>
</html>